[submodule "libs/magic_enum"]
	path = libs/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "libs/SDL-mirror"]
	path = libs/SDL-mirror
	url = https://github.com/SDL-mirror/SDL.git
[submodule "libs/V-EZ"]
	path = libs/V-EZ
	url = https://github.com/GPUOpen-LibrariesAndSDKs/V-EZ.git
[submodule "libs/shaderc"]
	path = libs/shaderc
	url = https://github.com/google/shaderc.git
[submodule "libs/SPIRV-Tools"]
	path = libs/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "libs/SPIRV-Headers"]
	path = libs/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "libs/effcee"]
	path = libs/effcee
	url = https://github.com/google/effcee.git
[submodule "libs/re2"]
	path = libs/re2
	url = https://github.com/google/re2.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/GSL"]
	path = libs/GSL
	url = https://github.com/microsoft/GSL.git
